
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">ONG</h1>
        <div class="row center">
        
        </div>        
      </div>
    </div>

    <div class="parallax div1"><img src="/src/app/img/boy-529067_1920.jpg" alt="Unsplashed hospital-1822460_1920 img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">


            <p class="light">	Uma ONG define-se por sua vocação política, por sua positividade política: uma entidade sem fins de lucro cujo objetivo fundamental é desenvolver uma sociedade democrática, isto é, uma sociedade fundada nos valores da democracia – liberdade, igualdade, diversidade, participação e solidariedade. (...) As ONGs são comitês da cidadania e surgiram para ajudar a construir a sociedade democrática com que todos sonham</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
   
            <p class="light">As ONG’s (Organizações não governamentais) são organizações formadas pela sociedade civil sem fins lucrativos e que tem como missão a resolução de algum problema da sociedade, seja ele econômico, racial, ambiental, e etc, ou ainda a reivindicação de direitos e melhorias e fiscalização do poder público.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">

            <p class="light">WTambém chamado “terceiro setor”, embora essa definição não seja muito clara, as organizações sem fins lucrativos são particulares ou públicas, desde que não tenham como principal objetivo a geração de lucros e, que se houver geração de lucros, estes sejam destinados para o fim a que se dedica a organização não podendo este ser repassado aos proprietários ou diretores da organização.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/src/app/img/children-428909_1920.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>          
          <p class="left-align light">Esses espaços organizacionais do Quarto Setor situados entre a esfera pública e a privada, identificados por alguns autores como públicos não estatais, cumprem papel relevante para a sociedade. Na verdade, é preciso constatar que o surgimento dessas organizações sem fins lucrativos, que têm como objetivo o desenvolvimento de atividades de interesse público, deu-se pelo motivo da não eficiência por parte do poder público em atender as necessidades da sociedade.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/src/app/img/indian-1717192_1920.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Nos ajude a ajudar!</h5>
          <p class="grey-text text-lighten-4">Olá a todos que se interessam em contribuir com trabalho voluntario. Toda a ajuda sempre é bem-vinda.</p>


        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by Luiz Felix Jr.
      </div>
    </div>
  </footer>
