

figure.foto-legenda figcaption label{
    color: #000;
    font-size: 12pt;
}

figure.foto-legenda figcaption textarea {     
     color: #000;
     font-size: 12pt;
}

figure.foto-legenda figcaption input {
     color: #000;
     font-size: 12pt;
}
