
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/src/app/img/hospital-1822460_1920.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h2>Dedique um pouco do seu tempo.</h2>
          <h4>Isso pode ser a diferença na vida de <a>alguém!</a></h4>
        </div>
      </li>
      <li>
        <img src="/src/app/img/clasped-hands-541849_1920.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h2>Juntamos ONG a voluntarios</h2>
          <h4>Juntos somos mais fortes!</h4>
        </div>
      </li>
      <li>
        <img src="/src/app/img/little-girl-1894125_1920.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h2 class="br">Pessoas precisam da sua ajuda.</h2>
          <h4 class="bra">Não fique ai parado, você pode fazer mais..</h4>
        </div>
      </li>
      <li>
        <img src="/src/app/img/woman-1515608_1920.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h2 class="br">Demonstre sua força!</h2>
          <h4 class="bra">Seja um voluntário.</h4>
        </div>
      </li>
    </ul>
  </div>


<form class="cont col s12">
  <div class="row">      
  <div class="part col s6"> 
    <div class="texto-video">
      <div class="video">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <div class="video-container">
              <iframe width="853" height="480" src="//www.youtube.com/embed/eYSWgzgri_o?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Como se tornar um voluntario?<i class="material-icons right">more_vert</i></span>
            <p><a routerLink='/cadastro-voluntario'>VOLUNTÁRIO CADASTRE-SE</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Como se tornar um voluntario?<i class="material-icons right">close</i></span>
            <p> Basta fazer um cadastro rapido em nosso sistema, e você terá contado com diversas ONG, 
              e poderá escolher de acordo com suas afinidades!</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="part col s6">
    <h2><b>1. O que é Ser Voluntário </b></h2>
    <h4> Ser voluntário é doar seu tempo, trabalho e talento para causas de interesse social e comunitário, 
      e com isso, melhorar a qualidade de vida da comunidade. </h4>
    <h3><b>2. O que é necessário saber antes de ser um voluntário? </b></h3>
    <h4> É necessário saber que o trabalho voluntário é um compromisso e não uma atividade casual. Por isso 
      deve ser realizado com consciência e responsabilidade. O trabalho voluntário, antes de tudo, precisa 
      ser prazeroso para quem o realiza. E para que isso aconteça, é necessário refletir sobre: </h4>
    <h4> - O que gosta de fazer; </h4>
    <h4> - Que habilidades gosta de desenvolver, </h4>
    <h4> - Em que área gosta de trabalhar; </h4>
    <h4> - Com que público gosta de trabalhar;</h4>
    <h4> - Qual sua disponibilidade de tempo para o trabalho voluntário.</h4>
  </div>
  </div>

  <div class="row">
    <div class="part_text col s6">
      <h3><b> 3. O voluntário recebe algum tipo de remuneração? </b></h3>
      <h4> Não. Em 1998, foi sancionada a Lei Federal de n.º 9.608/98 que prevê o voluntariado como 
        atividade não-remunerada, prestada por pessoa física ou entidade pública de qualquer natureza, sem vínculo 
        empregatício. </h4>
      <h3><b>4. Para ser voluntário, a pessoa precisa ter alguma habilidade específica?</b></h3>
      <h4>Não</h4>
      <h3><b>5. O que é preciso para ser voluntário?</b></h3>
      <h4>O voluntário precisa se identificar com a missão, princípios e valores éticos da instituição.</h4>
    </div>
    <div class="part col s6">
      <img src="src/app/img/help-1265227_1920.jpg">
      <br><br>
    </div>
    
      <h4 class="text"> Estima-se que no Brasil, cerca de 25 milhões de pessoas doam dinheiro ou tempo - ou ambos - 
        a instituições de caráter beneficiente. E esse número aumenta a cada ano. As áreas de atuação 
        são as mais diversas. Existem as instituições ambientais, as que visam auxiliar crianças e jovens, 
        as que possibilitam a capacitação de adultos...
        Seja qual for a sua profissão e seu grau de escolaridade, sempre haverá uma organização em que você 
        poderá auxiliar. <br><br>
        
        Além disso, a sensação de estar proporcionando algo de bom para o próximo é surpreendente. É algo 
        que beneficia outras pessoas e também quem faz. <br><br> 

        O modo de ver o mundo ao seu redor também muda completamente. Quando vemos um morador de rua, logo 
        pensamos: mas o governo não faz nada para mudar isso? Não, infelizmente, ainda não. Porém você pode 
        fazer. Não estou falando para levar a pessoa para dentro de sua casa, mas sim ajudá-la. Pode ser com 
        uma palavra, com um pouco de comida ou qualquer outro tipo de coisa que você tenha para dar, o importante 
        é você ajudar.<br><br></h4>

    <figure class="foto">
      <img src="src/app/img/community-1751059_1280.png">
      <figcaption>
        <p class="titulo"><b>O que é ONG?</b></p>

        <h4>ONG é a sigla para Organização Não-Governamental. São todas as organizações, sem fins lucrativos, 
          criadas por pessoas que trabalham voluntariamente em defesa de uma causa, seja ela, 
          proteção do meio ambiente, defesa dos direitos humanos, erradicação do trabalho infantil etc.
          <br><br>

          A expressão “Organização não Governamental” foi empregada pela primeira vez no ano de 1950, 
          pela ONU (Organização das Nações Unidas), para fazer referência às organizações civis que não tinham
          nenhum vínculo com o governo.
          <br><br>

          A partir dos anos 1960 e 1970, a questão da degradação ambiental passou a ser preocupação de muitas
          pessoas em todo o mundo. Como resultado disso, surgiram movimentos que deram origem a Organizações 
          não governamentais. Nos anos 70, já havia mais de 10 000 ONGs no Brasil.
          <br><br>

          A ONG faz parte do Terceiro Setor da sociedade, que são as instituições privada, sem fins lucrativos
          que têm a finalidade de dar complementar os serviços de ordem pública. Essas organizações devem
          funcionar legalmente, com registro em cartório, CNPJ e inscrição estadual.
          <br><br>

          A ONG é mantida financeiramente por pessoas físicas, empresas privadas, fundações e em alguns casos
          com a colaboração do próprio Estado. Os trabalhos são desenvolvidos por funcionários contratados
          e principalmente por voluntários.
          <br><br>

          Muitas ONGs, em todo o mundo, foram organizadas para defender o meio ambiente. Entre eles destaca-se
          o Greenpeace (do inglês green=verde, e peace=paz), que atuam em muitos países. Quando o meio ambiente
          está ameaçado, o Greenpeace e outras ONGs protestam publicamente para que a população tome conhecimento
          dos desastres ambientais.</h4>
      </figcaption>
    </figure>
    
  </div>         
</form>
 




  

